**/.settings
**/.project
**/.classpath
**/.clover
**/bin
**/target
**/.DS_Store
.DS_Store
/target
/pom.xml.releaseBackup
/release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
*.iml
.factorypath
mvnw
mvnw.cmd
.springBeans